body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
}

input,
button {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}




/* perfil */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
  }

  

  body {
    margin: 0;
    padding: 0;
}

button {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #5185a8;
    color: #fff;
    text-decoration: none;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

input {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.input {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.mbsc-page {
    padding: 1em;
}
